The 'starting_lineups_1.csv' file provied by Matthias at ASA is in wide format so it needs to be made tidy and vertical for ease of analysis and to be consistent with 'starting_lineups_2.csv' and 'starting_lineups_3.csv'. Below I use the melt() function in pandas to tidy the csv and then save a new csv for import to my postgres db.

In [36]:
import pandas as pd

In [37]:
df1 = pd.read_csv("starting_lineups_1.csv")
df1.head(10)

,gameID,team,home,formation,player1,player2,player3,player4,player5,player6,...,player9,player10,player11,bench1,bench2,bench3,bench4,bench5,bench6,bench7
0,914827,New York,1,4231,Luis Robles,Sal Zizzo,Connor Lade,Felipe,Ronald Zubar,Damien Perrinelle,...,Bradley Wright-Phillips,Sacha Kljestan,Mike Grella,Anthony Wallace,Kyle Reynish,Karl Ouimette,Sean Davis,Gonzalo Veron,Kemar Lawrence,Shaun Wright-Phillips
1,914827,Montreal,0,433,Evan Bush,Ambroise Oyongo,Donny Toia,Marco Donadel,Victor Cabrera,Laurent Ciman,...,Didier Drogba,Dominic Oduro,Dilly Duka,Hassoun Camara,Patrice Bernier,Andres Romero,Calum Mallace,Romario Williams,Eric Kronberg,Maxim Tissot
2,914828,Portland,1,442,Adam Larsen Kwarasey,Alvas Powell,Jorge Villafana,Diego Chara,Nat Borchers,Liam Ridgewell,...,Fanendo Adi,Maximiliano Urruti,Rodney Wallace,Gaston Fernandez,Dairon Asprilla,Jack Jewsbury,Jeanderson,Taylor Peay,Norberto Paparatto,Andrew Weber
3,914828,FC Dallas,0,4231,Chris Seitz,Atiba Harris,Zach Loyd,Michel,Walker Zimmerman,Matt Hedges,...,David Texeira,Tesho Akindele,Fabian Castillo,Moises Hernandez,Kyle Bekker,Blas Perez,Michael Barrios,Je-Vaughn Watson,Alejandro Zendejas,Jesse Gonzalez
4,914829,New York,1,4231,Luis Robles,Chris Duvall,Kemar Lawrence,Felipe,Matt Miazga,Damien Perrinelle,...,Bradley Wright-Phillips,Sacha Kljestan,Mike Grella,Connor Lade,Anatole Bertrand Abang,Sal Zizzo,Kyle Reynish,Karl Ouimette,Sean Davis,Dane Richards
5,914829,San Jose,0,433,David Bingham,Marvell Wynne,Cordell Cato,Fatai Alashe,Victor Bernardez,Clarence Goodson,...,Innocent,Sanna Nyassi,Shea Salinas,Ty Harden,Chris Wondolowski,Bryan Meredith,Michael Fucito,Tommy Thompson,Leandro Barrera,Paulo Renato
6,914830,DC United,1,442,Andrew Dykstra,Sean Franklin,Taylor Kemp,Davy Arnaud,Bobby Boswell,Kofi Opare,...,Chris Pontius,Jairo Arrieta,Chris Rolfe,Luis Silva,Nick DeLeon,Miguel Aguilar,Chris Korb,Jared Jeffrey,Conor Doyle,Travis Worra
7,914830,Houston,0,4231,Tyler Deric,Kofi Sarkodie,DaMarcus Beasley,Nathan Sturgis,Raul Rodriguez,Jermaine Taylor,...,Giles Barnes,Ricardo Clark,Brad Davis,Alex,Rob Lovejoy,Will Bruin,Chandler Hoffman,David Horst,Joe Willis,Leonel Miranda
8,914831,Columbus,1,4231,Steve Clark,Hernan Grana,Waylon Francis,Tony Tchani,Michael Parkhurst,Emanuel Pogatetz,...,Kei Kamara,Federico Higuain,Justin Meram,Tyson Wahl,Chris Klute,Kristinn Steindorsson,Kevan George,Hector Jimenez,Aaron Schoenfeld,Matt Lampson
9,914831,Orlando City,0,433,Donovan Ricketts,Rafael Ramos,Brek Shea,Amobi Okugo,Aurelien Collin,Seb Hines,...,Cyle Larin,Kevin Molino,Kaka,Tyler Turner,Harrison Heath,Carlos Rivas,Eric Avila,Luke Boden,Bryan Rochez,Earl Edwards

This csv is in the _tidy_ format we need the data in.

In [42]:
df2 = pd.read_csv("starting_lineups_2_c.csv")
df2.head(10)

    gameID      team  home  formation  position                  players
0  1041727  New York     1       4231   player1              Luis Robles
1  1041727  New York     1       4231   player2                Sal Zizzo
2  1041727  New York     1       4231   player3           Kemar Lawrence
3  1041727  New York     1       4231   player4              Dax McCarty
4  1041727  New York     1       4231   player5             Ronald Zubar
5  1041727  New York     1       4231   player6              Gideon Baah
6  1041727  New York     1       4231   player7                Lloyd Sam
7  1041727  New York     1       4231   player8                   Felipe
8  1041727  New York     1       4231   player9  Bradley Wright-Phillips
9  1041727  New York     1       4231  player10           Sacha Kljestan

In [43]:
# let's try to unpivot by melting df1
# make a list object with all columns to be melted into single column named 'players'

melt_list = []
for i in range(1,12):
    melt_list.append('player'+str(i))
for i in range(1, 8):
    melt_list.append('bench'+str(i))
    
print melt_list

['player1', 'player2', 'player3', 'player4', 'player5', 'player6', 'player7', 'player8', 'player9', 'player10', 'player11', 'bench1', 'bench2', 'bench3', 'bench4', 'bench5', 'bench6', 'bench7']

In [44]:
tidy = pd.melt(df1.reset_index(),
               id_vars = ['gameID', 'team', 'home', 'formation'], 
               value_vars = melt_list,
               var_name = 'position',
               value_name='players')

In [45]:
tidy.head()

   gameID       team  home  formation position               players
0  914827   New York     1       4231  player1           Luis Robles
1  914827   Montreal     0        433  player1             Evan Bush
2  914828   Portland     1        442  player1  Adam Larsen Kwarasey
3  914828  FC Dallas     0       4231  player1           Chris Seitz
4  914829   New York     1       4231  player1           Luis Robles

In [46]:
#resort by gameID
tidy = tidy.sort_values(['gameID', 'home', 'position']).reset_index(drop = True)
tidy.head()

       gameID         team  home  formation  position               players
0      908236      Chicago     0      41212    bench1          Matt Polster
1      908236      Chicago     0      41212    bench2              Adailton
2      908236      Chicago     0      41212    bench3                  Alex
3      908236      Chicago     0      41212    bench4         Greg Cochrane
4      908236      Chicago     0      41212    bench5             Jon Busch
5      908236      Chicago     0      41212    bench6                  Guly
6      908236      Chicago     0      41212    bench7      Michael Stephens
7      908236      Chicago     0      41212   player1          Sean Johnson
8      908236      Chicago     0      41212  player10       Quincy Amarikwa
9      908236      Chicago     0      41212  player11           Harry Shipp
10     908236      Chicago     0      41212   player2          Lovel Palmer
11     908236      Chicago     0      41212   player3          Joevin Jones
12     908236      Chicago     0      41212   player4          Chris Ritter
13     908236      Chicago     0      41212   player5      Jeff Larentowicz
14     908236      Chicago     0      41212   player6           Eric Gehrig
15     908236      Chicago     0      41212   player7           Matt Watson
16     908236      Chicago     0      41212   player8         Shaun Maloney
17     908236      Chicago     0      41212   player9   Kennedy Igboananike
18     908236  L.A. Galaxy     1        442    bench1         Todd Dunivant
19     908236  L.A. Galaxy     1        442    bench2        Baggio Husidic
20     908236  L.A. Galaxy     1        442    bench3           Alan Gordon
21     908236  L.A. Galaxy     1        442    bench4          Jaime Penedo
22     908236  L.A. Galaxy     1        442    bench5        A.J. DeLaGarza
23     908236  L.A. Galaxy     1        442    bench6         Rafael Garcia
24     908236  L.A. Galaxy     1        442    bench7     Bradford Jamieson
25     908236  L.A. Galaxy     1        442   player1            Brian Rowe
26     908236  L.A. Galaxy     1        442  player10          Robbie Keane
27     908236  L.A. Galaxy     1        442  player11       Jose Villarreal
28     908236  L.A. Galaxy     1        442   player2            Dan Gargan
29     908236  L.A. Galaxy     1        442   player3         Robbie Rogers
...       ...          ...   ...        ...       ...                   ...
12210  915201     Portland     0        433    bench7          Jake Gleeson
12211  915201     Portland     0        433   player1  Adam Larsen Kwarasey
12212  915201     Portland     0        433  player10          Lucas Melano
12213  915201     Portland     0        433  player11        Rodney Wallace
12214  915201     Portland     0        433   player2           Taylor Peay
12215  915201     Portland     0        433   player3       Jorge Villafana
12216  915201     Portland     0        433   player4           Diego Chara
12217  915201     Portland     0        433   player5          Nat Borchers
12218  915201     Portland     0        433   player6        Liam Ridgewell
12219  915201     Portland     0        433   player7          Diego Valeri
12220  915201     Portland     0        433   player8      Darlington Nagbe
12221  915201     Portland     0        433   player9           Fanendo Adi
12222  915201  L.A. Galaxy     1        442    bench1         Todd Dunivant
12223  915201  L.A. Galaxy     1        442    bench2         Mika Vayrynen
12224  915201  L.A. Galaxy     1        442    bench3       Jose Villarreal
12225  915201  L.A. Galaxy     1        442    bench4           Alan Gordon
12226  915201  L.A. Galaxy     1        442    bench5            Brian Rowe
12227  915201  L.A. Galaxy     1        442    bench6          Edson Buddle
12228  915201  L.A. Galaxy     1        442    bench7        A.J. DeLaGarza
12229  915201  L.A. Galaxy     1        442   player1      Donovan Ricketts
12230  915201  L.A. Galaxy     1        442  player10          Robbie Keane
12231  915201  L.A. Galaxy     1        442  player11     Sebastian Lletget
12232  915201  L.A. Galaxy     1        442   player2            Dan Gargan
12233  915201  L.A. Galaxy     1        442   player3         Robbie Rogers
12234  915201  L.A. Galaxy     1        442   player4               Juninho
12235  915201  L.A. Galaxy     1        442   player5         Omar Gonzalez
12236  915201  L.A. Galaxy     1        442   player6              Leonardo
12237  915201  L.A. Galaxy     1        442   player7          Gyasi Zardes
12238  915201  L.A. Galaxy     1        442   player8        Steven Gerrard
12239  915201  L.A. Galaxy     1        442   player9    Giovani dos Santos

[12240 rows x 6 columns]

In [48]:
# export tidied df1 as csv for import to db

tidy.to_csv('starting_lineups_1_c.csv', index = False)